extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let gemsid = toShow._id 
    - let gems_type = toShow.gems_type 
    - let gemscost = toShow.cost 
    - let gemssize = toShow.size 
    - let actionid = "/resource/Gems/" + gemsid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='gemsAttr mr-3') Gems ID is: 
        div #{gemsid} 
      div.row 
        div(class='gemsAttr mr-3') Gems Type is: 
        div #{gems_type} 
      div.row 
        div(class='gemsAttr mr-3') Gems Size is: 
        div #{gemssize} 
      div.row 
        div(class='gemsAttr mr-3') Gems Cost is: 
        div #{gemscost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/costumes' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'     
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Gems' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 